<template>
    <div>
        
    </div>
</template>

<script lang="python">

class Component:
    def __init__(self):
        ws = WebSocket('ws://' + document.domain + ':' + location.port + '/ws')
        ws.onmessage = lambda event: console.log(event.data)

</script>

<style scoped>

:scope {
    border: 1px solid black;
    margin: auto;
    width: 80%;
    height: 80%;
}

</style>
