<template>
  <div>
  <qvp_page/>
  </div>
</template>


<style>

html {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    height: 100%;
}
#qvp_app {
    height: 100%;
    text-align: center;
}

</style>

<style scoped>
:scope {
    height: 100%;
    display: flex;
    flex-direction: column;
}
</style>
