<template>
    <div>
        <h1>HELLO</h1>
        <center_stage></center_stage>
    </div>
</template>

<script>
    export default {
      layout: 'blog'
    }
</script>

<style scoped>

:scope {
    height: 100%;
}

</style>
