<template>
    <div>
        <h1>HELLO PY</h1>
        <center_stage></center_stage>
    </div>
</template>

<script lang="python">

class Component:

    pass

</script>

<style scoped>

:scope {
    height: 100%;
}

</style>
